
.job-offer-accordion{
    @include my(72px);
    @include breakpoint-up(lg){
        @include my(100px);
    }
    .accordion-item{
        @include border-r-none;
        @include bg-transparent;
        margin-bottom: 16px;

        .accordion-button{
            font-family: $font-family-manrope;
            text-transform: uppercase;
            color: $clr-white;
            border: 1px solid $clr-white!important;
            @include border-r-none;

            &:focus{
                box-shadow: none!important;
            }

            &::after{
                color: $clr-primary!important;
                @include border-r-circle;
                @include font-s(12px!important);
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

            }
        }

        .accordion-collapse{
            // color: $clr-primary;
            background-color: $clr-white;
        }
    }
}