html{
    -webkit-text-size-adjust: 100%;
    font-size: calcRem(map-get($font-size, "base"));
}

body{
    @include font($font-family-karla, $base-font-size, $base-font-color, $base-font-weight);
}

p{
    @include font($font-family-karla, $base-font-size, $base-font-color, $base-font-weight);
}

h1, h2, h3, h4, h5, h6{
    text-rendering: optimizeLegibility;
    @include font($font-family-manrope, false, $base-font-color, map-get($font-weights,'bold'));
    @include flush--bottom;
}

* + h1, 
* + h2,
* + h3,
* + h4,
* + h5,
* + h6{
    @include m(16px);
}

h1, .h1{ font-size: $h1-font-size; }
h2, .h2{ font-size: $h2-font-size; }
h3, .h3{ font-size: $h3-font-size; }
h4, .h4{ font-size: $h4-font-size; }
h5, .h5{ font-size: $h5-font-size; }
h6, .h6{ font-size: $h6-font-size; }

.p-text{
    @include opacity(0.9);
    font-size: 18px;
    @include font-w('light');
}
.width-minimized{
    max-width: 400px;
    @include push--auto;
}